@CHARSET "UTF-8";
@font-face {
    font-family: custFont;
    font-size: 16px;
    src: url(../fonts/THSarabunNew.ttf) format("truetype");
}
.background {
 /* background-color: gray;  */
/* background:url("../images/background.png") center top no-repeat; */
background-position:center top;
background-repeat:no-repeat;
background-size: 100%;
/*background-image: url("../images/background.png");*/
 font-family: custFont, Verdana, Tahoma;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.header{
	margin-top: 50px;
}
.login {
	padding: 15px;
	background-color: grey;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	margin-top: 20px;
}
.poll {
	padding: 15px;
	background-color: grey;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	margin-top: 20px;
	font-size: 24px;
	color: white;
}
.social-icons {
   /*  float: right; */
   /*  display: inline-block; */
    display: none;
    margin: 10px 10px 0px 0px;
}
.social-icons li {
    float: left;
    display: inline-block;
    margin-left: 3px;
}
.login-menu{
	margin-top: 10%;
}
.navbar-color{
	background-color: gray;
}
.navbar-color a{
	color:white;
}
.sbText1{
	font-size: 5vw;
    color: #670c09;
    font-weight: bold;
    letter-spacing: -2px;
    white-space: nowrap;
    
}
.sbText2{
	font-size: 50px;
    color: #292f93;
    font-weight: bold;
       margin-top: -20px;
   /*  letter-spacing: -2px; */
}
.navMenu{
	margin: -80px -10px 0px 0px;
	
}
.navbar-manual-login{
	background-image: -webkit-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -o-linear-gradient(top,#fff 0,#f8f8f8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
    background-image: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
	border-style: solid;
    border-radius: 16px 16px 0px 0px;
    margin: 0px -15px 0px 0px;
}
.navbar-manual-menu{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+66,fefefe+100 */
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 66%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 66%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	/*background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 66%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom,  rgb(113, 91, 91) 0%,rgb(123, 10, 10) 50%,rgb(146, 1, 1) 66%,rgb(197, 10, 10) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */


    border-radius: 16px 0px 0px 0px;
    margin-top: -3px;
  
}
.navbar-manual-menu a{
	color: black;
	font-size: 22px
}

.nav>li>a {
    padding: 10px 9px;
        margin-top: 5px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive,
	.thumbnail a>img, .thumbnail>img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	/* margin: 0 auto; */
}

.navbar-manual-login a{
	color: black;
	font-size: 16px
}

.nav-collapse_ .nav > li {
    background: url(../images/line-1.png) 0 0 repeat-y;
    padding: 0 18px 0 18px;
    line-height: 17px;
}
.img-slide{
	 margin: 0 auto;
	 width:auto;
	 height:auto;
}
.content-slide{
	margin-top: -20px;
}
.content img{
	/* width: auto;
	height: auto; */
}

.content{
	padding-top:20px;
	background-color:rgba(255,255,255,0.3);
}
.content .header{
	padding:0 0 20px 0;
	background-color:rgba(255,255,255,0.3);
	border-radius: 5px 5px 5px 5px;
}

.headerText{
	font-size: 25px;
	border-width: 1px;
	border-style:solid;
	border-color:white;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(189, 169, 183, 0.33);
	border-color: rgba(255, 253, 248, 0.52);
	color: #fff;
 	font-size: 30px;
 	padding: 5px 0px 0px 20px;
 	
}
.content .h1{
	font-size: 25px;
	color: black;
	
}
.content .h2{
	font-size: 18px;
	color: black;
}
.advertise{
	margin-top: 30px;	
	margin-bottom: 50px;
	
}
.advertise .box{
	border-width: 2px;
	border-style:solid;
	border-color:white;
	border-radius: 16px 16px 16px 16px;
	background-color:rgba(0,0,0,0.3);
	padding: 20px 50px 60px 30px;
	
}

.box-comandor{
	border-width: 2px;
	border-style:solid;
	border-color:white;
	border-radius: 16px 16px 16px 16px;
	background-color:rgba(0,0,0,0.3);
	padding: 20px 30px 60px 30px;
	
}
.advertise .h1{
	font-size: 25px;
	border-width: 1px;
	border-style:solid;
	border-color:white;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(189, 169, 183, 0.33);
	border-color: rgba(255, 253, 248, 0.52);
	color: #fff;
	padding: 5px 0px 0px 20px;
	
}
.advertise .h2{
	font-size: 20px;
	border-color:white;

}
.advertise .detail{
	font-size: 18px;
	border-color:white;

}
.unwrapclass {
    white-space: nowrap;
    overflow: hidden;
}
ul.list-1 li {
    padding: 5px 0 5px 15px;
    background: url(../images/marker.gif) 0 12px no-repeat;
    font-size: 22px;
    line-height: 20px;
}
ul.list-1 li a{
    color:#fff;
}
.btn_ {
    background: #cf3046;
    border: none;
    text-shadow: none;
    font-family: "custFont", custFont;
    font-size: 20px;
    font-weight: bold;
    line-height: 15px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px 13px 8px 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.tab{
	margin: 20px 0px 0px 0px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 0 20px;
}
.tab a{
	color: white;
	font-size: 20px;
}
.tab-content{
	padding: 50px 20px 50px 20px;
	color:white;
}
.tab-more-info{
	margin-bottom: 20px;
}
footer{
    margin: 20px 0 100px 0;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
}
footer .box{
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(0,0,0,0.3);
	padding: 10px 20px 0 20px;
	color:white;
	font-size: 18px;
	margin-bottom: 10px;
}
.download{
	margin-top: 50px;
	font-size: 24px
}
.history{
	border-width: 2px;
	border-style:solid;
	border-color:white;
	border-radius: 16px 16px 16px 16px;
	background-color:rgba(0,0,0,0.3);
	padding: 0px 50px 60px 30px;
}
.history .p1{
	color: white;
	font-size: 20px
}
.header-history{
	color: white;
	font-size: 30px;
	font-style: oblique;
	
}
.tab-content img{
	width: 380px;
	height: 220px;
	margin: 10px 20px 10px 20px
}
.tab-content h3{
	width:380px;
	padding :10px 0px 5px 20px;
	border-radius: 5px 5px 5px 5px;
	background-color:rgba(0,0,0,0.3);
	margin: 10px 20px 10px 20px
}
.tab-content .box{
	padding :5px 0 20px 30px;
	border-radius: 5px 5px 5px 5px;
	background-color:rgba(255, 255, 255, 0.32);
	margin-bottom: 30px;
}
.modal-content .modal-img{
	width: 325px;
	height: 200px;
}
.vision .h1{
	font-size: 30px;
	font-style:oblique;
	border-width: 1px;
	border-style:solid;
	border-color:white;
	border-radius: 5px 5px 5px 5px;
	background-color: rgba(189, 169, 183, 0.33);
	border-color: rgba(255, 253, 248, 0.52);
	color: black;
	padding: 10px 20px 5px 20px;
	
}
.vision .h2{
	font-size: 25px;
	color: black;
}
.vision .detail{
	font-size: 20px;
	color: black;
}
.dropdown-menu li:hover  {
	
}

.dropdown .dropdown-menu{
	min-width:200px;
}

.dropdown-menu .open{
	 transition:all 1.2s ease;
    -webkit-box-shadow: 0px 0px 8px #1AAF5D, inset 0px 0px 23px #8AF2B7;
    -moz-box-shadow: 0px 0px 8px #1AAF5D, inset 0px 0px 23px #8AF2B7;
    box-shadow: 0px 0px 8px #1AAF5D, inset 0px 0px 23px #8AF2B7;  
	 background-color: red;
}
.mission-detail{
	width: 500px;
	height: auto;
}

.footer-text{
	bottom: 100px;
	padding-bottom: 50px;
	font-size: 20px;
	left: 0px;
	color: #fff;
	font-weight: 700;
}
.btnM{
		margin-right:50px;margin-top: 0px; margin-bottom: 30px;
}
.tagName{
	
    padding: 20px 15px 0px 15px;
    background-color: #2b3d61;
    color: #fff;
    font-size: 20px;
    font-style:oblique;
    border-radius: 5px 5px 5px 5px;
}
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
.comanderViewOld{
	display: none;
}
.comanderView2535{
	display: none;
}
.header-title{
	margin-bottom: 30px;
}
.box-img{
	background-color:#0f3e67;
	padding-top:20px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	font-size: 20px;
	height: 275px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.logo-form{
	color: #000;	
}
.btnSize{
	width: 200px;
	margin-bottom: 10px;
}
.btn-session{
	margin-top: 20px;
}
.formStyle{
	margin-bottom: 15px;
	text-align: left;
}
.preview-img{
	width: 250px;
	height: auto;
	
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
 /* upload image */
 .image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.box img{
	margin-left: 22px;
}
#logo{
	height: 160px;
	width:160px;
}
.com1{
	margin-left: 38%;
}
.com2{
	margin-left: 26%;
}
.com3{
	margin-left: 14%;
}
.com4{
	margin-left: 11%;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
 }

/* END */

@media (max-width :680px) {
	#logo{
	height: 30vw;
	width:30vw;
}
	.navMenu {
    	margin: -30px -10px 0px 0px;
	}
	.advertise .box {
	margin-bottom: 20px;
	}
	.btn_ {
	 margin-left: 500px;
	}

	.tab-content .box{
	  	 padding: 5px 10px 70px 20px;
	}
	.footer-text{
		bottom: 120px;
		display: none;
	}
	.btnM{
		margin-right: 0;
	}
	.sbText1{
		font-size: 7vw;
		text-align: right;
		margin-top: 5px;
    	margin-bottom: 10px;
    	letter-spacing: 1px;
	}
	.sbText2{
		font-size: 5vw;
		text-align: right;
		letter-spacing: 1px;
	}
	.navbar-toggle .icon-bar{
		background-color:#000;
	}
	.login-menu {
	    margin-top: 10%;
	}
	.background{
	    background-size:auto;
	}
	.tab-content .box{
		margin: 0px 0px 20px 0px;
	}
	.tab-content img{
		height:auto;
	}
	.box{
		padding: 10px;
	}
	.box img{
		margin-left: 0px;
	}
	.tab-content h3 {
		width:auto;
	    padding: 10px 0px 5px 20px;
	    border-radius: 5px 5px 5px 5px;
	    background-color: rgba(0,0,0,0.3);
	    margin: 10px 0px 10px 0px;
	}
	footer{
		display: none;
	}
	.advertise .box{
		border-width: 2px;
		border-style:solid;
		border-color:white;
		border-radius: 16px 16px 16px 16px;
		background-color:rgba(0,0,0,0.3);
		padding: 20px 10px 60px 30px;
	}
	.list-1{
		padding: 0px;
	}
	.advertise .box {
		padding: 20px 15px 60px 15px;
	}
	.com1{
	margin-left: 0%;
	}
	.com2{
		margin-left: 0%;
	}
	.com3{
		margin-left: 0%;
	}
	.com4{
		margin-left: 0%;
	}
	.form_login{
	display: none;
	}
	
	.background {
	 /* background-color: gray;  */
	/* background:url("../images/background.png") center top no-repeat; */
	background-position:center top;
	background-repeat:no-repeat;
	background-size: 100%;
	/*background-image: url("../images/background.png");*/
	 font-family: custFont, Verdana, Tahoma;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	.box-img{
	background-color:#0f3e67;
	padding-top:20px;
	border-radius: 5px 5px 5px 5px;
	color: #fff;
	font-size: 20px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 0px;
	}
	body{
	padding-left: 15px;
	}
	
}
	
	
}