.navbar-manual-menu a{
	color: white;
	font-size: 22px
}

.navbar-nav>li+li { 
	border-left: 1px solid #FFFFFF;
	border-right: 0px;
	border-left: 1px solid #FFFFFF;
	 border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 3 100%;
	}

.nav>li>a {
    padding: 10px 9px;
        margin-top: 5px;
}
	
	.background>.container.>.row>.carousel>.carousel-inner>.item>img , .img-responsive{
		display: block;
		max-width: 100%;
		width: 100%;
		height: auto;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.navbar-collapse>.nav>li>a:hover {
	    text-decoration: none;
	    background-color: #821919;
	    font-color:white;
	}
	
	#myNavbar1>.nav>li>a:hover {
	    text-decoration: none;
	    background-color: transparent;
	}
	
	#myNavbar>.navbar-nav>.dropdown> a:hover{
		color: white;
		font-size: 22px
	}
	
	#myNavbar1>.navbar-nav>.dropdown>.dropdown-menu a{
		color: black;
		font-size: 22px
	}
	
	#myNavbar>.navbar-nav>.dropdown>.dropdown-menu a{
		color: black;
		font-size: 22px
	}
	
	#myNavbar>.navbar-nav>li+li {
	border-left: 1px solid #FFFFFF;
border-right: 0px;
	    border-left: 1px solid #FFFFFF;
	    border-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)) 3 100%;
	}
	
	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background-color: #581515;
	    border-color: #337ab7;
	    box-shadow: 5px 5px 10px 10px rgba(50,50,50,.4);  
	}
	
	#myNavbar1>.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	    background-color: transparent;
	    border-color: #337ab7;
	}
	
	/* mobile style */
	@media (max-width :680px) {
	#myNavbar>.navbar-nav>.dropdown>.dropdown-menu a{
		color: white;
		font-size: 22px
	}
	
	}
	
	
